/*共通設定用css*/
header {
    width: 100%;
    position: sticky;
    background: #abfbff;
    padding: 5px;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

body {
    font-family: Arial;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #444;
}

.browser-back{
    display: inline-block;
    margin: 10px 0;
    padding: 4px 16px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

.browser-back:hover{
    background-color:#0056b3;
}

/*横並びメニュー、ヘッダーできたら消してちょ*/
.menu{
	display: flex;
	flex-wrap:wrap;
}
.menu li {
	width: calc(100%/8);
	padding:0 2px;/*左右に余白を入れる場合*/
	box-sizing:border-box;
}
.menu li img {
	max-width:100%; /*はみだしを防ぐ*/
	height: auto; /*縦横比を維持 */
}

.select {
    text-decoration: none!important;
    justify-content: center; /*左右間で中央*/
    align-items: center;/*上下間で中央*/
    color: #fff!important;
    display: flex!important;/*画面に合わせてサイズが変わる*/
    flex-wrap:wrap!important;/*要素の折り返し設定*/
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: none;
    transition: .2s;
    background: #007BFF;
}

.select:hover{
    box-shadow: none;
    transform: translateY(2px);
    opacity: .8;
}

.now{   /*選択の項目を光らせる機能*/
    background: #ff009d;
}
/* ここまで */
